RewriteEngine On

# Esconder a extensão .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Rewrite rule for plant details
RewriteRule ^plant/([^/]+)/([0-9]+)/?$ pages/plant.php?id=$2 [L,QSA]

# Redireciona www.meusite.com/manage_plants para www.meusite.com/pages/manage_plants
RewriteRule ^manage$ /pages/manage [L]
